<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patrick Noland</title>

    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
    <link rel="manifest" href="./img/site.webmanifest">
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#a8a877">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">
          <img class="img-fluid" style="max-height: 6vh" src="img/pnlong_262x800.png" alt="Patrick Noland" />
        </span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="Patrick Noland">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#workexamples">Work Examples</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Patrick
            <span class="text-primary">Noland</span>
          </h1>
          <div class="subheading mb-5">2001 Ashmore Ave. · Chattanooga, TN 37415 · (423) 314-4543 ·
            <a href="mailto:patrickreillynoland@gmail.com">patrickreillynoland@gmail.com</a>
          </div>
          <p class="mb-5">I'm a digital communications director and consultant with a background in marketing, extensive experience in building resources and strategies in the healthcare, political, and nonprofit fields, and a deep passion for human rights and societal causes.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/pnoland">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/NolandLikeOcean">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/prnoland/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/patrickreillynoland">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Communications Manager</h3>
              <div class="subheading mb-3">Dr. Danielle Mitchell for Congress</div>
              <p>I led a team of four in planning, executing, and tracking results for communications and outreach coming out of Dr. Danielle Mitchell's (TN-3) congressional campaign, including social media, digital advertising, news articles, and commercials both on-air and online. During my time there, we oversaw a 5x increase in small donor fundraising and drew media coverage from such publications as NBC News, USA Today and other national outlets.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2018 - November 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">WordPress Developer</h3>
              <div class="subheading mb-3">Letterbox CMG</div>
              <p>While leading and working closely with a team of three, I developed websites and e-commerce solutions for small and medium sized businesses using Wordpress and other CMSs, as well as produced written and web content for companies in the medical and non-profit fields.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2016 - April 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Copywriter</h3>
              <div class="subheading mb-3">Intown Media Solutions</div>
              <p>
                I produced blog posts, press releases, and other copy for businesses in the medical and nonprofit fields. I also built and managed websites and one-pagers (via CRMs like Wordpress and Magento) for these companies, and worked with them to create new content and update the sites as necessary.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2015 - March 2016</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Marketing Coordinator</h3>
              <div class="subheading mb-3">Coast 2 Coast Architecture</div>
              <p>I monitored the company's sales funnel through Microsoft Dynamics CRM and engaged prospective clients and customers via Facebook
                and LiveChat. I also authored white papers, press releases, and used Microsoft Excel to convert paper-based lead info into CSV format
                using a macro of my own design.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2012 - March 2013</span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Covalence</h3>
              <div class="subheading mb-3">Web Development Bootcamp</div>
              <div>Full Stack Web Development Track</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Completed September 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Tennessee at Chattanooga</h3>
              <div class="subheading mb-3">B.A.: English and Digital Communications</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Completed May 2013</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Writing + Communications</div>
          <ul class="fa-ul mb-3">
            <li>
              <i class="fa-li fa fa-check"></i>
              Social Media</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Advertising Copy and Creative Direction</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Press Releases, White Papers, and Op-Eds</li>
            <li>
              <i class="fa-li fa fa-check"></i>
            Grant Writing and Funding Research</li>
          </ul>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="HTML5">
              <i class="devicons devicons-html5" title="HTML5"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="CSS3">
              <i class="devicons devicons-css3"  title="CSS3"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Javascript">
              <i class="devicons devicons-javascript" title="Javascript"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="jQuery">
              <i class="devicons devicons-jquery" title="jQuery"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Sass">
              <i class="devicons devicons-sass" title="SASS"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Bootstrap">
              <i class="devicons devicons-bootstrap" title="Bootstrap"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Wordpress">
              <i class="devicons devicons-wordpress" title="WordPress"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Git">
              <i class="devicons devicons-git" title="Git"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Gulp">
              <i class="devicons devicons-gulp" title="Gulp"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="Node.js">
              <i class="devicons devicons-nodejs" title="Node.js"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="PHP">
              <i class="devicons devicons-php" title="PHP"></i>
            </li>
            <li class="list-inline-item" data-toggle="tooltip" data-placement="bottom" title="MySQL">
              <i class="devicons devicons-mysql" title="MySQL"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Other Specialties</div>
          <ul class="fa-ul mb-3">
            <li>
              <i class="fa-li fa fa-check"></i>
              Digital HIPAA Compliance</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Fundraising Strategy</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Public Relations</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Project + Team Management</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="workexamples">
        <div class="my-auto">
          <h2 class="mb-5">Work Examples</h2>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal0">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/drmitchell_746x412.png" title="Dr. Mitchell for Congress">
          </a>

          <div class="modal fade" id="workModal0" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Dr. Danielle Mitchell for Congress (Copywriting + Social Media + Design)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/drmitchell_746x412.png" class="img-fluid" alt="Dr. Danielle Mitchell for Congress" />
                  <div class="workexamples-body">
                    <div class="clearfix workexamples-content">
                      <p>I provided creative and communications direction for Dr. Danielle Mitchell for Congress (D-TN-3) throughout the later months of her campaign, including managing ad buys, scheduling and producing social media posts, and copywriting for commercials and online videos.</p>
                    </div>
                    <div class="clearfix">
                      <ul>
                        <b>Services</b>
                        <li>Social Media</li>
                        <li>Copywriting</li>
                        <li>Public Relations</li>
                        <li>Press Releases and Op-Ed Writing</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                    <div class="container">
                        <div class="row">
                          <div class="col">
                              <img src="img/drmitchell_746x412.png" class="img-fluid" alt="Dr. Danielle Mitchell TV Spot" href="https://www.youtube.com/watch?v=bgTrLZogY3E" />
                          </div>
                          <div class="col">
                              <img src="img/drmitchellAMA_746x412.png" class="img-fluid" alt="Dr. Danielle Mitchell Reddit AMA" />
                          </div>
                          <div class="w-100"></div>
                          <div class="col">
                            <img src="img/drmitchellBILLBOARD_746x412.png" class="img-fluid" alt="Dr. Danielle Mitchell for Congress Billboard" />
                          </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <div class="modal fade" id="workModal1" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Coworkers (AngularJS + Node.js)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/coworkersthumb.png" class="img-fluid" alt="https://coworkers-prn.herokuapp.com/" />
                  <div class="workexamples-body">
                    <div class="clearfix workexamples-content">
                      <p>Coworkers was my capstone project for Covalence <a href="http://covalence.io" target="_blank">(http://covalence.io)</a>, completed at the end of my full-stack program. Frontend is a mix of regular JS and AngularJS, and the backend is running Node.js with Express routing connected to a MySQL database.</p>
                    </div>
                    <div class="clearfix">
                      <ul>
                        <b>Stack + Tools:</b>
                        <li>Angular.js</li>
                        <li>Nodejs</li>
                        <li>MySQL</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="https://github.com/patrickreillynoland/Coworkers" target="_blank" role="button" class="btn btn-primary">Github</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal3">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/pnolandcomthumb.jpg" alt="PRNoland.com">
          </a>
  
            <div class="modal fade" id="workModal3" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="workModalLabel">PRNoland.com (JS + Bootstrap + Node.js)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <img src="img/pnolandcomthumb.jpg" class="img-fluid" alt="prnoland.com" />
                    <div class="workexamples-body">
                      <div class="workexamples-content">
                        <p>I just wanted to explain a little bit about this site! The front-end functions are powered by JS with a little EJS to handle views and jQuery to handle scroll animations, and a basic Node server to power the backend. I also used Sass to handle CSS preprocessing and Gulp as a taskrunner. It's a bit much for now but I have some plans to scale.</p>
                      </div>
                    </div>
                    <div class="clearfix">
                        <ul>
                          <b>Stack + Tools:</b>
                          <li>JS</li>
                          <li>jQuery</li>
                          <li>Node.js</li>
                          <li>Sass</li>
                          <li>Gulp</li>
                        </ul>
                      </div>
                  </div>
                  <div class="modal-footer">
                      <a href="https://github.com/patrickreillynoland/pnolandcom" target="_blank" role="button" class="btn btn-primary">Github</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal4">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/dennisclarkthumb.jpg" alt="Dennis Clark for Representative">
          </a>

          <div class="modal fade" id="workModal4" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Dennis Clark for State Senate (WordPress)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/dennisclarkthumb.jpg" class="img-fluid" alt="http://dennisclark.org" />
                  <div class="workexamples-body">
                    <div class="workexamples-content">
                      <p>This was a fundraising site built for Dennis Clark, a State Representative candidate from Tennessee. After previous web projects with other partners fell through, Rep. Clark was quickly needing to set up a online source for fundraising with a secondary goal of promoting name recognition. After an initial consultation, we were able to design and launch this site for him in less than 48 hours.</p>
                    </div>
                  </div>
                  <div class="clearfix">
                      <ul>
                        <b>Stack + Tools:</b>
                        <li>WordPress</li>
                        <li>CSS3</li>
                        <li>PHP</li>
                      </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="http://dennisclark.org" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal5">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/whschattthumb.jpg" alt="Women's Health Services of Chattanooga">
          </a>
  
          <div class="modal fade" id="workModal5" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Women's Health Services (WordPress)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/whschattthumb.jpg" class="img-fluid" alt="http://whschattanooga.com" />
                  <div class="workexamples-body">
                    <div class="workexamples-content">
                      <div class="workexamples-content">
                        <p>Women's Health Services is a healthcare network serving female patients of all ages around the Hamilton County area. They were in need of a multisite WordPress setup with a HIPAA compliant backend for patient billing and communications, and we were able to set that up through a combination of sitewide end-to-end encryption, a custom GravityForms application, and Paubox; a dedicated HIPAA compliant email API for healthcare providers.</p>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix">
                      <ul>
                        <b>Stack + Tools:</b>
                        <li>WordPress</li>
                        <li>CSS3</li>
                        <li>PHP</li>
                        <li>Gravity Forms</li>
                        <li>Paubox.com</li>
                      </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="http://whschattanooga.com" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal6">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/uedthumb.jpg" alt="Unifi-Ed">
          </a>

          <div class="modal fade" id="workModal6" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Unifi-Ed (WordPress)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/uedthumb.jpg" class="img-fluid" alt="http://unifi-ed.org" />
                  <div class="workexamples-body">
                    <div class="workexamples-content">
                      <p>Unifi-Ed is a education nonprofit based in Chattanooga, TN. I built their initial site using a popular WordPress theme (Amax), and used Gravity Forms and a custom PHP backend to manage information gathered from users. </p>
                    </div>
                  </div>
                  <div class="clearfix">
                      <ul>
                        <b>Stack + Tools:</b>
                        <li>WordPress</li>
                        <li>CSS3</li>
                        <li>PHP</li>
                        <li>Gravity Forms</li>
                        <li>Gravity PDF</li>
                      </ul>
                    </div>
                </div>
                <div class="modal-footer">
                  <a href="http://unifi-ed.org/" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/resume.min.js"></script>

  </body>

</html>
