<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Patrick Noland</title>

    <link rel="apple-touch-icon" sizes="180x180" href="./img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./img/favicon-16x16.png">
    <link rel="manifest" href="./img/site.webmanifest">
    <link rel="mask-icon" href="./img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#a8a877">

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts -->
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles -->
    <link href="/css/resume.min.css" rel="stylesheet">

  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none">Patrick Noland</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="Patrick Noland">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education">Education</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#workexamples">Work Examples</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Patrick
            <span class="text-primary">Noland</span>
          </h1>
          <div class="subheading mb-5">2001 Ashmore Ave. · Chattanooga, TN 37415 · (503) 272-1986 ·
            <a href="mailto:patrickreillynoland@gmail.com">patrickreillynoland@gmail.com</a>
          </div>
          <p class="mb-5">I'm a web developer with a marketing agency background, with experience in building performant, responsive websites using end-to-end Javascript and PHP-based CRMs like Wordpress.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/pnoland">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://twitter.com/NolandLikeOcean">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/prnoland/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/patrickreillynoland">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">WordPress Developer</h3>
              <div class="subheading mb-3">Letterbox CMG</div>
              <p>While leading and working closely with a team of three, I developed websites and e-commerce solutions for small and medium sized businesses using Wordpress and other CMSs, as well as produced written and web content for companies in the medical and non-profit fields.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2016 - January 2018</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Web Copywriter</h3>
              <div class="subheading mb-3">Cultural Sync</div>
              <p>
                I produced blog posts, press releases, and other copy for businesses in the medical and non-profit fields. I also built and managed websites and one-pagers (via CRMs like Wordpress and Magento) for these companies, and worked with them to create new content and update the sites as necessary.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2015 - March 2016</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Tapes and Repair Technician</h3>
              <div class="subheading mb-3">Southtree</div>
              <p>
                I handled the processing of customer orders that included analog tapes and converted them to digital media. I was also hands-on in repairing broken/damaged tapes and oversaw the repair and cleaning of our conversion machines.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">October 2013 - March 2015</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Marketing Coordinator</h3>
              <div class="subheading mb-3">Coast 2 Coast Architecture</div>
              <p>I monitored the company's sales funnel through Microsoft Dynamics CRM and engaged prospective clients and customers via Facebook
                and LiveChat. I also authored white papers, press releases, and used Microsoft Excel to convert paper-based lead info into CSV format
                using a macro of my own design.</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2012 - March 2013</span>
            </div>
          </div>

        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Covalence</h3>
              <div class="subheading mb-3">Web Development Bootcamp</div>
              <div>Full Stack Web Development Track</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Completed September 2017</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">University of Tennessee at Chattanooga</h3>
              <div class="subheading mb-3">B.A.: English and Digital Communications</div>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">Completed May 2013</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>

          <div class="subheading mb-3">Programming Languages &amp; Tools</div>
          <ul class="list-inline list-icons">
            <li class="list-inline-item">
              <i class="devicons devicons-html5"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-css3"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-javascript"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-jquery"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-sass"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-bootstrap"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-wordpress"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-git"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-gulp"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-nodejs"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-php"></i>
            </li>
            <li class="list-inline-item">
              <i class="devicons devicons-mysql"></i>
            </li>
          </ul>

          <div class="subheading mb-3">Workflow</div>
          <ul class="fa-ul mb-0">
            <li>
              <i class="fa-li fa fa-check"></i>
              Mobile-First, Responsive Design</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Browser Testing &amp; Debugging</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Cross Functional Teams</li>
            <li>
              <i class="fa-li fa fa-check"></i>
              Agile Development &amp; Scrum</li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Lorem ipsum baby. This is some placeholder text to make sure the line breaks aren't crazy when I play around with the responsiveness. Alabama Arkansas Colorado Delaware Georgia Illinois Indiana Blah Blah Here's some more placeholder text.</p>
          <p class="mb-0">Even more placeholder text, I'll be cutting and pasting the text from the other. Lorem ipsum baby. This is some placeholder text to make sure the line breaks aren't crazy when I play around with the responsiveness. Alabama Arkansas Colorado Delaware Georgia Illinois Indiana Blah Blah Here's some more placeholder text.</p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="workexamples">
        <div class="my-auto">
          <h2 class="mb-5">Work Examples</h2>
          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal1">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/coworkersthumb.png" alt="Coworkers">
          </a>

          <div class="modal fade" id="workModal1" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Coworkers</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/coworkersthumb.png" class="img-fluid" alt="https://coworkers-prn.herokuapp.com/" />
                  <div class="workexamples-body">
                    <p>Coworkers was my capstone project for Covalence <a href="http://covalence.io" target="_blank">(http://covalence.io)</a>, completed at the end of my full-stack program. The idea was to create a site where users could quickly  </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="https://coworkers-prn.herokuapp.com/" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <a href="https://github.com/patrickreillynoland/Coworkers" target="_blank" role="button" class="btn btn-primary">Github</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal2">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/covstore.png" alt="Covalence Store">
          </a>

          <div class="modal fade" id="workModal2" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Covalence Store</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/covstore.png" class="img-fluid" alt="https://covstore.herokuapp.com/" />
                  <div class="workexamples-body">
                    <p>Coworkers was my capstone project for Covalence <a href="http://covalence.io" target="_blank">(http://covalence.io)</a>, completed at the end of my full-stack program. The idea was to create a site where users could quickly  </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="https://covstore.herokuapp.com/" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <a href="https://github.com/patrickreillynoland/Covalence-Store" target="_blank" role="button" class="btn btn-primary">Github</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal3">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/uedthumb.jpg" alt="Unifi-Ed">
          </a>

          <div class="modal fade" id="workModal3" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Unifi-Ed (WordPress)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/uedthumb.jpg" class="img-fluid" alt="http://unifi-ed.org" />
                  <div class="workexamples-body">
                    <p>Unifi-Ed is a  </p>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="https://coworkers-prn.herokuapp.com/" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>

          <a class="workexamples-link" href="#" data-toggle="modal" data-target="#workModal4">
            <img class="workexamples-thumb" dataclass="img-thumbnail" src="img/dennisclarkthumb.jpg" alt="Dennis Clark for Representative">
          </a>

          <div class="modal fade" id="workModal4" tabindex="-1" role="dialog" aria-labelledby="workModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="workModalLabel">Dennis Clark for State Senate (WordPress)</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img src="img/dennisclarkthumb.jpg" class="img-fluid" alt="http://dennisclark.org" />
                  <div class="workexamples-body">
                    <p>Dennis Clark</p>
                  </div>
                </div>
                <div class="modal-footer">
                  <a href="http://dennisclark.org" target="_blank" role="button" class="btn btn-primary">Go to Site</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </section>

    </div>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/js/resume.min.js"></script>

  </body>

</html>
